:root {
    font-size: 1px;
}

html {
    scroll-behavior: smooth;
}

html * {
    font-size: 14rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

body {
    transition: background-color linear .1s;

    margin: 200rem 0 80rem 0;
    /* margin-bottom: 80rem; */

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    overflow: scroll;
}

header {
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .2s;
    width: 100%;
    padding: 30rem 0;
    margin-bottom: 50rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 1;
}

header#shrunk {
    padding: 10rem 0;
    font-size: 10px;
}

#banner {
    transition: background-image linear .1s;
    font-size: inherit;
    width: 27em;
    height: 8em;
    background-size: contain;
    background-repeat: no-repeat;
}

header>nav * {
    font-size: 22rem;
}

nav {
    margin: 14rem 0;

    width: 100%;
    max-width: 40vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbarGomb {
    transition:
        background-color ease-in-out .1s,
        color linear .1s;;

    width: 15%;

    padding: 18rem 24rem;
    margin: auto;

    border-radius: 100px;

    text-decoration: none;

    background-color: transparent;

    vertical-align: middle;
    text-align: center;
}

.navbarGomb#aktiv {
    font-weight: 700;
}

.navbarGomb:hover {
    color:rgb(0, 0, 0);
    font-weight: 500;
}

.vl {
    font-size: inherit;
    height: 7em;

    margin: 0 40rem;
    display: flex;
}

main {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

main * {
    transition:
        background-color linear .1s,
        box-shadow linear .1s;
}

main p {
    font-size: 24rem;
}

.vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50rem;
}

h2, .colored h2 {
    font-size: 40rem;
    font-weight: 700;
    margin: 0 0 50rem 0;
}

.divider {
    transition: filter linear .1s;
    height: 80rem;
    width: 727rem;
    margin: 30rem 0;
    background-image: url("../media/images/divider.png");
    background-size: cover;
}

footer {
    width: 100%;

    margin: 0;

    font-size: 24rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

footer * {
    font-size: inherit;
}

footer img {
    height: 150rem;
}

/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 5.25em;
    --height-of-switch: 3em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 2.2em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.5em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    /* background: linear-gradient(40deg, #ff0080, #ff8c00 70%); */
    background: linear-gradient(-120deg, #ffee00, #ff8c00 70%);
    transition: .4s;
}

input:checked+.slider {
    background-color: #303136;
}

input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

footer .icons>a {
    transition: filter linear .1s;
    margin: 40rem 20rem;
    width: 30rem;
    height: 30rem;
    background-size: cover;
}

#facebook-icon {
    background-image: url("../media/images/facebook_icon.png");
}

#instagram-icon {
    background-image: url("../media/images/instagram_icon.png");
}

#email-icon {
    background-image: url("../media/images/email_icon.png")
}

footer .icons>a>img {
    height: 30rem;
}

.icons>a {
    margin: 40rem 20rem;
}

.icons>a>img {
    height: 50rem;
}

/* index.html */
#index .colored {
    width: 100%;
    margin: 30rem 0;
    padding: 80rem 0;
}

#index .padded {
    padding: 0 15%;
}

#index .colored p {
    font-size: 24rem;
    font-weight: 500;
}

#index .colored img {
    box-shadow: 0 0 10px 1px rgb(27, 27, 27);
}

#index .colored img {
    width: 40%;
}

#index .colored>div>.vl {
    margin: 0 90rem;
}

#index .colored a {
    margin-top: 30rem;
    font-size: 24rem;
    font-weight: 500;
}

#index #yellow a {
    transition:
        transform ease-in-out .1s,
        box-shadow ease-in-out .1s;
    padding: 15rem 40rem;

    color: white;
    background-color: rgb(41, 41, 41);

    text-decoration: none;
    border-radius: 100px;

    box-shadow: 0 0 10px 1px rgb(46, 46, 46);
}

#index #yellow a:hover {
    transform: translate(-4rem, -4rem);
    box-shadow: 4px 4px 10px 1px rgb(0, 0, 0);
}

#index #red a {
    transition:
        transform ease-in-out .1s,
        box-shadow ease-in-out .1s;
    padding: 15rem 40rem;

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    text-decoration: none;
    border-radius: 100px;

    box-shadow: 0 0 10px 1px rgb(134, 134, 134);
}

#index #red a:hover {
    transform: translate(-4rem, -4rem);
    box-shadow: 4px 4px 10px 1px rgb(134, 134, 134);
}

#index #green a {
    transition:
        transform ease-in-out .1s,
        box-shadow ease-in-out .1s;
    padding: 15rem 40rem;

    color: rgb(255, 255, 255);
    background-color: rgb(41, 41, 41);

    text-decoration: none;
    border-radius: 100px;

    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
}

#index #green a:hover {
    transform: translate(-4rem, -4rem);
    box-shadow: 4px 4px 10px 1px rgb(0, 0, 0);
}

#index #programok-gomb {
    transition: transform ease-in-out .2s;
    position: fixed;
    bottom: 65rem;
    right: 100rem;

    padding: 20rem 40rem;
    background: linear-gradient(-20deg, rgba(123, 196, 255, 1) 0%, rgba(30, 154, 255, 1) 82%);
    border-radius: 100px;
    box-shadow: 0 0 10px 1px rgb(73, 73, 73);

    color: white;
    font-size: 26rem;
    font-weight: 700;
    text-decoration: none;
}

#index #programok-gomb:hover {
    transform: scale(1.1);
}

#index #programok-gomb * {
    font-size: inherit;
}

#index #programok-gomb img {
    width: 20rem;

    margin-left: 10rem;
    filter: invert(100%);
}

/* kapcsolat.html */
#kapcsolat #map {
    width: 300rem;
}

#kapcsolat .colored {
    width: 100%;
    margin: 30rem 0;
    padding: 80rem 0;

    box-shadow: 0 0 20px 1px rgb(112, 112, 112);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#kapcsolat .colored>.horizontal {
    padding: 0 15%;
}

#kapcsolat .colored p {
    font-size: 28rem;
    font-weight: 500;
}

#kapcsolat .colored>img {
    box-shadow: 0 0 10px 1px rgb(27, 27, 27);
}

#kapcsolat .colored>div>.vl {
    margin: 0 90rem;
}

#kapcsolat #yellow {
    background-color: #fcc510c4;
}

#kapcsolat .colored p {
    margin: 0;
}

form {
    font-size: 20rem;
}

form * {
    font-size: inherit;
}

fieldset {
    display: flex;
    justify-content: space-between;
    
    border: none;
    box-sizing: border-box;
    width: 100%;
}

fieldset:last-of-type {
    justify-content: center !important;
}

.field {
    padding: 0.5em 1em;
    border: 1px solid rgb(121, 121, 121);
    border-radius: .8em;
    background-color: rgb(253, 253, 253);
}

#nev {
    margin-right: 0.6em;
}

textarea, #targy {
    box-sizing: border-box;
    width: 100%;
}

textarea {
    resize: none;
}

input[type="submit"] {
    transition:
        box-shadow cubic-bezier(0.165, 0.84, 0.44, 1) .1s,
        padding cubic-bezier(0.165, 0.84, 0.44, 1) .1s;
    padding: 0.6em 2em;
    color: rgb(0, 0, 0);
    font-weight: 700;
    background-color: white;
    border-radius: 10em;
    box-shadow: 0.2em 0.3em 0 rgb(0, 0, 0);
}

input[type="submit"]:hover {
    padding: 0.6em 2.5em;
    cursor: pointer;
    box-shadow: 0.3em 0.4em 0 rgb(244, 206, 81);
}