@import url("base.css");

body {
    background-color: rgb(46, 45, 41);
}

header {
    background-color: rgb(26, 26, 26);
    box-shadow: 0 0 10px 1px rgb(27, 27, 27);
}

#banner {
    background-image: url("../media/images/banner_dark_small.png");
}

.navbarGomb {
    transition: color linear .1s;
    color: rgb(255, 255, 255);
}

.navbarGomb#aktiv {
    background-color: rgba(252, 197, 16, 0.918);
    
    box-shadow: 0 0 30px 1px rgb(22, 22, 20);

    color: black;
    font-weight: 700;
}

.navbarGomb:hover {
    background-color: rgba(252, 197, 16, 0.871);
    color: black;
}

header>.vl {
    border-left: 2px solid rgba(190, 190, 190, 0.836);
}

.divider {
    background-image: url("../media/images/divider_dark.png");
}

h1, footer {
    color: white;
}
/* 
.light {
    display: none;
}

.dark {
    display: inherit;
} */
