body[loading],
body[loading] * {
    transition: none !important;
}

:root {
    font-size: 1px;
}

html {
    scroll-behavior: smooth;
}

html * {
    font-size: 14rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

body {
    transition: background-color linear .1s;

    margin: 200rem 0 80rem 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    overflow: scroll;
}

body {
    color: black;
    background-color: white;
}

[dark] {
    color: white;
    background-color: rgb(43, 42, 40);
}

header {
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .2s;
    width: 100%;
    padding: 30rem 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 1;
}

header {
    background-color: rgb(228, 227, 227);
    box-shadow: 0 0 20px 1px rgb(112, 112, 112);
}

[dark] header {
    background-color: rgb(26, 26, 26);
    box-shadow: 0 0 10px 1px rgb(27, 27, 27);
}

header#kicsi {
    padding: 10rem 0;
    font-size: 10px;
}

[dark] header>.vl {
    border-left: 2px solid rgba(190, 190, 190, 0.836);
}

#banner {
    transition: background-image linear .1s;
    font-size: inherit;
    width: 27em;
    height: 8em;
    background-size: contain;
    background-repeat: no-repeat;
}

#banner {
    background-image: url("../media/images/banner_small.png");
}

[dark] #banner {
    background-image: url("../media/images/banner_dark_small.png");
}

nav {
    margin: 14rem 0;

    width: 100%;
    max-width: 40vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav * {
    font-size: 22rem;
}

.navbarGomb {
    transition:
        background-color ease-in-out .1s,
        color linear .1s;

    width: 15%;

    padding: 18rem 24rem;
    margin: auto;

    border-radius: 100px;

    text-decoration: none;

    background-color: transparent;

    vertical-align: middle;
    text-align: center;
}

.navbarGomb {
    color: rgb(71, 71, 71);
}

[dark] .navbarGomb {
    color: rgb(255, 255, 255);
}

.navbarGomb#aktiv {
    font-weight: 700;
}

.navbarGomb#aktiv {
    background-color: rgba(252, 195, 16, 0.69);
    color: black;
    box-shadow: 0 0 30px 1px rgb(207, 207, 207);
}

[dark] .navbarGomb#aktiv {
    background-color: rgba(252, 195, 16, 0.918);
    /* background-color: rgba(102, 204, 0, 0.918); */
    color: black;
    box-shadow: 0 0 30px 1px rgb(22, 22, 20);
}

.navbarGomb:hover {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.navbarGomb:hover {
    background-color: rgba(252, 195, 16, 0.796);
}

[dark] .navbarGomb:hover {
    background-color: rgba(252, 195, 16, 0.871);
    /* background-color: rgba(102, 204, 0, 0.871); */
}

.vl {
    font-size: inherit;
    height: 7em;

    margin: 0 40rem;
    display: flex;
}

main {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

main * {
    transition:
        background-color cubic-bezier(0.455, 0.03, 0.515, 0.955) .1s,
        box-shadow cubic-bezier(0.455, 0.03, 0.515, 0.955) .1s;
}

main p {
    font-size: 24rem;
}

.vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50rem;
}

h2,
.colored h2 {
    font-size: 40rem;
    font-weight: 700;
}

h3 {
    font-size: 30rem;
}

.divider {
    transition: filter linear .1s;
    height: 80rem;
    width: 727rem;
    margin: 30rem 0;
    background-image: url("../media/images/divider.png");
    background-size: cover;
}

.divider {
    filter: invert(0%);
}

[dark] .divider {
    filter: invert(100%);
}

footer {
    width: 100%;

    margin: 0;
    margin-top: 30rem;
    padding: 30rem 0;

    font-size: 24rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: rgb(228, 227, 227);
    box-shadow: 0 0 20px 1px rgb(112, 112, 112);
}

[dark] footer {
    background-color: rgb(26, 26, 26);
    box-shadow: 0 0 10px 1px rgb(27, 27, 27);
}

footer * {
    font-size: inherit;
}

footer img {
    height: 100rem;
}

/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 5.25em;
    --height-of-switch: 3em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 2.2em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.5em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    /* background: linear-gradient(40deg, #ff0080, #ff8c00 70%); */
    background: linear-gradient(-120deg, #ffee00, #ff8c00 70%);
    transition: .4s;
}

input:checked+.slider {
    background-color: #303136;
}

input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

footer .icons>a {
    transition: filter linear .1s;
    margin: 40rem 20rem 10rem 20rem;
    width: 30rem;
    height: 30rem;
    background-size: cover;
}

footer .icons>a {
    filter: invert(0%);
}

[dark] footer .icons>a {
    filter: invert(100%);
}

#facebook-icon {
    background-image: url("../media/images/facebook_icon.png");
}

#instagram-icon {
    background-image: url("../media/images/instagram_icon.png");
}

#email-icon {
    background-image: url("../media/images/email_icon.png")
}

footer .icons>a>img {
    height: 30rem;
}

.icons>a {
    margin: 40rem 20rem;
}

.icons>a>img {
    height: 50rem;
    width: auto;
}

.colored {
    box-shadow: 0 0 20px 1px rgb(112, 112, 112);
}

[dark] .colored {
    box-shadow: 0 0 20px 1px rgb(0, 0, 0);
}

.yellow {
    background-color: rgba(252, 195, 16, 0.769);
}

.red {
    background-color: rgba(232, 18, 37, 0.769);
}

.green {
    background-color: rgba(102, 204, 0, 0.769);
}

.padded {
    padding: 0 15%;
    box-sizing: border-box;
}

.stretched {
    width: 100%;
}

.content {
    padding: 0 80rem;
}

h1,
h2,
footer,
p {
    color: inherit;
}

.vl {
    border-left: 2px solid rgba(0, 0, 0, 0.432);
}

[dark] .vl {
    border-left: 2px solid rgba(0, 0, 0, 0.432);
}

.colored {
    width: 100%;
    margin: 30rem 0;
    padding: 80rem 0;
}

.colored p {
    font-size: 24rem;
    font-weight: 500;
}

.colored :not(a)>img, .colored>img {
    box-shadow: 0 0 10px 1px rgb(27, 27, 27);
}

.colored img {
    width: 40%;
}

.colored>div>.vl {
    margin: 0 90rem;
}

.colored a {
    margin-top: 30rem;
    font-size: 24rem;
    font-weight: 500;
}

.yellow, .green {
    color: black;
}

.red {
    color: white;
}