@import url("base.css");

h1, h2, footer, p {
    color: white;
}

body {
    background-color: rgb(46, 45, 41);
}

header {
    background-color: rgb(26, 26, 26);
    box-shadow: 0 0 10px 1px rgb(27, 27, 27);
}

#banner {
    background-image: url("../media/images/banner_dark_small.png");
}

.navbarGomb {
    color: rgb(255, 255, 255);
}

.navbarGomb#aktiv {
    background-color: rgba(252, 197, 16, 0.918);
    color: black;
    box-shadow: 0 0 30px 1px rgb(22, 22, 20);
}

.navbarGomb:hover {
    background-color: rgba(252, 197, 16, 0.871);
}

header>.vl {
    border-left: 2px solid rgba(190, 190, 190, 0.836);
}

.vl {
    border-left: 2px solid rgba(0, 0, 0, 0.432);
}

.divider {
    filter: invert(100%);
}

footer .icons>a {
    filter: invert(100%);
}

.field {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(32, 32, 30);
}

.field:focus {
    background-color: rgb(54, 53, 49);
}

input[type="submit"] {
    color: rgb(255, 255, 255);
    background-color: rgb(32, 32, 30);
    box-shadow: 0.2em 0.3em 0 rgb(0, 0, 0);
}

input[type="submit"]:hover {
    box-shadow: 0.3em 0.4em 0 rgb(102, 204, 0);
}

/* index.html */
.colored {
    box-shadow: 0 0 20px 1px rgb(0, 0, 0);
}

#index .colored img {
    box-shadow: 0 0 10px 1px rgb(27, 27, 27);
}

#yellow *, #green * {
    color: rgb(0, 0, 0);
}