@import url('base.css');

h2,
.colored h2 {
    font-size: 40rem;
    font-weight: 700;
    margin: 0 0 50rem 0;
}

.yellow a {
    transition:
        transform ease-in-out .1s,
        box-shadow ease-in-out .1s;

    padding: 15rem 40rem;

    color: white;
    background-color: rgb(41, 41, 41);

    text-decoration: none;
    border-radius: 100px;

    box-shadow: 0 0 10px 1px rgb(46, 46, 46);
}

.yellow a:hover {
    transform: translate(-4rem, -4rem);
    box-shadow: 4px 4px 10px 1px rgb(0, 0, 0);
}

.red a {
    transition:
        transform ease-in-out .1s,
        box-shadow ease-in-out .1s;

    padding: 15rem 40rem;

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    text-decoration: none;
    border-radius: 100px;

    box-shadow: 0 0 10px 1px rgb(134, 134, 134);
}

.red a:hover {
    transform: translate(-4rem, -4rem);
    box-shadow: 4px 4px 10px 1px rgb(134, 134, 134);
}

.green a {
    transition:
        transform ease-in-out .1s,
        box-shadow ease-in-out .1s;

    padding: 15rem 40rem;

    color: rgb(255, 255, 255);
    background-color: rgb(41, 41, 41);

    text-decoration: none;
    border-radius: 100px;

    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
}

.green a:hover {
    transform: translate(-4rem, -4rem);
    box-shadow: 4px 4px 10px 1px rgb(0, 0, 0);
}

#programok-gomb {
    transition: transform ease-in-out .2s;
    position: fixed;
    bottom: 65rem;
    right: 100rem;

    padding: 20rem 40rem;
    background: linear-gradient(-20deg, rgba(123, 196, 255, 1) 0%, rgba(30, 154, 255, 1) 82%);
    border-radius: 100px;
    box-shadow: 0 0 10px 1px rgb(73, 73, 73);

    color: white;
    font-size: 26rem;
    font-weight: 700;
    text-decoration: none;
    z-index: 1;
}

#programok-gomb:hover {
    transform: scale(1.1);
}

#programok-gomb * {
    font-size: inherit;
}

#programok-gomb img {
    width: 20rem;

    margin-left: 10rem;
    filter: invert(100%);
}

#cards {
    justify-content: space-evenly;
    align-items: start;
}

#cards>div {
    width: 30%;
    margin: 50rem;
}

.event-card {
    transition:
        box-shadow cubic-bezier(0.455, 0.03, 0.515, 0.955) .1s,
        transform cubic-bezier(0.455, 0.03, 0.515, 0.955) .1s;
   
    transform: scale(1);
    text-decoration: none;
    padding: 20rem;
    align-items: start;
}

.event-card:hover {
    transform: scale(1.02);
}

.event-card strong {
    font-size: inherit;
}

.event-card>h3 {
    font-size: 28rem;
    text-align: left;
}

.event-card>p {
    margin: 0;
}

.event-card>p:not(:first-of-type) {
    margin-top: 20rem;
}

.event-card>img {
    width: 100%;
}

.event-card {
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 0 1px rgb(0, 0, 0);
}

#cards>div:nth-child(1)>a:hover {
    box-shadow: 0 0 0 3px rgb(252, 195, 16);
}

#cards>div:nth-child(2)>a:hover {
    box-shadow: 0 0 0 3px rgb(232, 18, 37);
}

#cards>div:nth-child(3)>a:hover {
    box-shadow: 0 0 0 3px rgb(102, 204, 0);
}

.event-card>h3 {
    color: black;
}