:root {
    font-size: 1px;
}

html * {
    font-size: 14rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

body {
    margin: 50rem 0 80rem 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header>nav * {
    font-size: 22rem;
}

nav {
    margin: 14rem 0;

    width: 100%;
    max-width: 40vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbarGomb {
    width: 15%;

    padding: 18rem 24rem;
    /* margin: 20rem 1rem; */
    margin: auto;

    /* border: 1px solid black; */
    border-radius: 100px;

    text-decoration: none;

    color: rgb(116, 116, 116);

    vertical-align: middle;
    text-align: center;
}

.navbarGomb#aktiv {
    background-color: #fcc510b0;
    
    color: black;
    font-weight: 700;
}

.navbarGomb:hover {
    transition: background-color linear .2s;
    background-color: #fcc510cb;
}

.navbarGomb:hover {
    font-weight: 500;
}

.vl {
    height: 150rem;

    border-left: 2px solid rgba(0, 0, 0, 0.432);
    /* border-radius: 10px; */

    margin: 20rem 40rem;
    display: flex;
}

main {
    width: 100%;

    /* margin: 30rem 0; */
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

main>div {
    padding: 0 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.colored {
    margin: 30rem 0;
    padding: 50rem 15% !important;

    box-shadow: 
        0 1px 20px 1px rgb(112, 112, 112);
}

.colored * {
    font-size: 24rem;
    font-weight: 500;
}

.colored>img {
    box-shadow: 0 1px 20px 1px black;
}

#yellow {
    background-color: #fcc510c4;
}

#yellow>p {
    margin-right: 50rem;
}

#red {
    color: white;
    background-color: #e81225c4;
}

#red>p {
    margin-left: 50rem;
}

#green {
    background-color: #66cc00c4;
}

#green>p {
    margin-right: 50rem;
}

main>div>img {
    width: 50%;
    margin: 0 50rem;
}

h1 {
    font-size: 50rem;
}

#divider {
    height: 80rem;
    margin: 30rem 0;
}

footer {
    width: 100%;
    
    margin: 0;

    font-size: 24rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

footer * {
    font-size: inherit;
}