:root {
    font-size: 1px;
}

html * {
    font-size: 14rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

body {
    margin: 50rem 0 80rem 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header>nav * {
    font-size: 22rem;
}

nav {
    margin: 14rem 0;

    width: 100%;
    max-width: 40vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbarGomb {
    width: 15%;

    padding: 18rem 24rem;
    margin: auto;

    border-radius: 100px;

    text-decoration: none;

    color: rgb(116, 116, 116);

    vertical-align: middle;
    text-align: center;
}

.navbarGomb#aktiv {
    background-color: #fcc510b0;
    
    color: black;
    font-weight: 700;
}

.navbarGomb:hover {
    transition: background-color ease-in-out .2s;
    background-color: #fcc510cb;
}

.navbarGomb:hover {
    font-weight: 500;
}

.vl {
    height: 150rem;

    border-left: 2px solid rgba(0, 0, 0, 0.432);

    margin: 20rem 40rem;
    display: flex;
}

.vertical-container {
    width: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.colored {
    margin: 30rem 0;
    padding: 50rem 15%;

    box-shadow: 0 0 20px 1px rgb(112, 112, 112);
}

.colored * {
    font-size: 24rem;
    font-weight: 500;
}

.colored img {
    width: 40%;
    box-shadow: 0 0 20px 1px black;
}

#yellow {
    background-color: #fcc510c4;
}

#yellow p {
    margin-right: 50rem;
}

#yellow img {
    margin-left: 50rem;
}

#yellow>a {
    transition: all ease-in-out .2s;
    padding: 15rem 40rem;
    
    color: white;
    background-color: rgb(32, 32, 32);
    
    text-decoration: none;
    border-radius: 100px;

    box-shadow: 0 0 10px 1px rgb(46, 46, 46);
}
/* teszt */
#yellow>a:hover {
    transform: translate(-4rem, -4rem);
    box-shadow: 4px 4px 10px 1px rgb(0, 0, 0);
}

#red {
    color: white;
    background-color: #e81225c4;
}

#red p {
    margin-left: 50rem;
}

#red img {
    margin-right: 50rem;
}

#green {
    background-color: #66cc00c4;
}

#green p {
    margin-right: 50rem;
}

#green img {
    margin-left: 50rem;
}

h1 {
    font-size: 50rem;
}

#divider {
    height: 80rem;
    margin: 30rem 0;
}

footer {
    width: 100%;
    
    margin: 0;

    font-size: 24rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

footer * {
    font-size: inherit;
}